button{
	border-style: none;	
}
.icons{
	height: 30px;
}
.mobile{
	width: 20%!important;
}

.w80{
	padding: 5%;
	margin-left: 5%;
}
.nowrap{
	word-wrap: normal;
}
.fx-hide{
	display: none;
}
.card{
	border-top: none;
}