<div class="card">
    <div class="w80 nowrap">
        <div class="card-body mt-5">
            <div class="row">
                <div class="col-12">
                    <h4>Marketing</h4>
                    <br>
    
                    <form>
                        <h6><b>Transactional SMS</b> </h6>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SenderID</label>
                            <div class="col-sm-9">
                                <input type="SenderID" class="form-control ">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SMS Template</label>
                            <div class="col-sm-9">
                                <textarea class="form-control  mt-2 ml-2" rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <h6><b>Transactional EMAIL</b></h6>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">From</label>
                            <div class="col-sm-9">
                                <input type="From" class="form-control ">
                            </div>
                        </div>
    
                        <button type="button" class="btn btn-success float-right">confirm</button>
                        <br><br>
                        <h6>Analytics</h6>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Google Analytics</label>
                            <div class="col-sm-9">
                                <input type="Google Analytics" class="form-control ">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Facebbok PixelID</label>
                            <div class="col-sm-9">
                                <input type="Facebbok PixelID" class="form-control ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>