<nav class="navbar">
    <img class="brand--name" src="../assets/img/mbsitlogo.png" alt="logo">
    <ul class="nav-list">
        <li class="nav-item">
            <img src="../assets/img/help.png" alt="hrlp">
            <span>
                Help
            </span>
        </li>
        <li class="nav-item dropdown">
            <img src="../assets/img/user.png" alt="user">
            <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span>MBSIT</span>
            </a>
            <div class="dropdown-menu mb-login dropdown-menu-right"
            aria-labelledby="navbarDropdown">
            <p class="dropdown-item">Action</p>
            <p class="dropdown-item">Another action</p>
            <p class="dropdown-item">Something else here</p>
        </div>

        </li>
    </ul>
</nav>