button{
	border-style: none;	
}
.icons{
	height: 30px;
}
.mobile{
	width: 20% !important;
}

.w80{
	padding: 5%;
	margin-left: 5%;
}
.nowrap{
	word-wrap: normal !important;
}
.fx-hide{
	display: none;
}
.card{
	border-top: none;
}

.mid-img{
	transform: scale(1.5,1.5);
	z-index: 99;
  }