<div class="container d-flex flex-column mx-auto justify-content-center align-items-center">
    <div class="mb-5 d-flex flex-column col-4 mx-auto text-center">
        <b><hr></b>
        <h1>Welcome Customer</h1>
    </div>
    <div class="card col-10">
        <div class="card-body">
            <h4 class="mb-5">Create Website</h4>
            <form>
                <div class="form-group row">
                  <label for="websitetitle" class="col-sm-2 col-form-label col-form-label-lg">Website Title</label>
                  <div class="col-sm-8">
                    <input type="Title" class="form-control form-control-lg" id="websitetitle">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label col-form-label-lg">Example textarea</label>
                    <div class="col-sm-8">
                        <textarea class="form-control form-control-lg" id="description" rows="4"></textarea>
                    </div>
                  </div>
                <div class="form-group row">
                  <div class="col-12 ml-auto d-flex">
                    <button (click)="chooseTemplate()" type="submit" class="mt-5 ml-auto btn btn-outline-primary">Create Website</button>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>