<div class="w80s">
    <form>
        <div class="form-group row">
            <label for="selectproject" class="col-sm-2 col-form-label">Select Project</label>
            <div class="col-2">
                <select class="form-control" id="selectproject">
                    <option>Project1</option>
                    <option>Project2</option>
                    <option>Project3</option>
                    <option>Project4</option>
                    <option>Project5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <mat-calendar></mat-calendar>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 row">
                <div class="col-2">
                    <img src="assets/img/Schedule.png" alt="s">
                </div>
                <div class="col-2 text-center">
                    <img src="assets/img/delete.png" alt="s">
                </div>
                <div class="col-2 text-right">
                    <img src="assets/img/add.png" alt="s">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="selectproject" class="col-sm-2 col-form-label">Get Updated By</label>
            <div class="col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">SMS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Email</label>
                </div>
            </div>
        </div>
    </form>
</div>
