
<div class="card">
    <div class="card-body">
      
      <div class="w80">
        <form>
            <div class="form-group row">
                <div class="col-12 col-md-4 col-sm-8 col-xl-3 col-lg-3">
                    <label for="selectproject" class="col-form-label">Select Project</label>
                    <select class="form-control" id="selectproject">
                        <option>Project1</option>
                        <option>Project2</option>
                        <option>Project3</option>
                        <option>Project4</option>
                        <option>Project5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-8 col-sm-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <mat-calendar></mat-calendar>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-6 row">
                    <div class="col-4">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="col-4 text-center">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                  
                    <div class="col-4 text-right">
                        <i class="fas fa-plus"></i> 
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="selectproject" class="col-sm-2 mt-3 col-form-label">Get Updates By </label>
                <div class="col-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label mt-4" for="inlineRadio1">SMS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label mt-4" for="inlineRadio2">Email</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
  </div>
