@import "../../vars";
.dashboard{
    display: flex;
    justify-content: space-around;
   
}
.sidebar{
    height: auto;
    width: auto;
    padding: 5rem 1rem;
    background-color: var(--color-primary-gray);
    margin: 2rem 1rem;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: auto;
    margin: 2rem 1rem;
    background-color: var(--color-primary-gray);
    padding: 5rem 10rem; 
}
@media only screen and (max-width: $bp-smallest) {
    .main{
        padding: 5rem 1rem;
    }
 }

.navlist{
    text-decoration: none;
    list-style: none;
    padding: 1.5rem 2rem;
    background-color: var(--color-primary-white);
    margin-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
       span{
           display: none;
       }
    }

}
@media only screen and (max-width: $bp-smallest) {
    .navlist{
        padding: 1rem 1rem;
    }
 }

.navlist {
    img,svg{
        width:2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    @media only screen and (max-width: $bp-smallest) {
        img{
            margin-right: 0;
        }
     }
    
}
.navlist:hover{
    background-color: var(--color-secondary-light);
    cursor: pointer;
   
    svg path{
    
            color: var(--color-primary-white) !important;  
            fill: var(--color-primary-white) !important;  
  
    }
}

.navlist span{
   font-size: 1.2rem;
}

  