<div class="custom-control custom-switch mt-3">
    AutoSave
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label ml-5" for="customSwitches">
    </label>
</div>

<div class="dashboard">
    <ul class="sidebar">
        <li class="navlist" routerLink="layout">
            <img src="../assets/img/Webyout.png" alt="Webite Layout" title="Webite Layout">
            <span>Webite Layout</span>
        </li>
        <li class="navlist" routerLink="baseinfo">
            <img src="../assets/img/Basicinformation.png" alt="Basic Information" title="Basic Information">
            <span>Basic Information</span>
        </li>
        <li class="navlist" routerLink="images">
            <img src="../assets/img/Images.png" alt="Images" title="Images">
            <span>Images</span>
        </li>
        <li class="navlist" routerLink="projects">
            <img src="../assets/img/Projects.png" alt="Projects" title="Projects">
            <span>Projects</span>
        </li>
        <li class="navlist" routerLink="videos">
            <img src="../assets/img/Degree.png" alt="360 degree videos" title="360 degree videos">
            <span>360 degree videos</span>
        </li>
        <li class="navlist" routerLink="marketing">
            <img src="../assets/img/marketing.png" alt="Marketing" title="Marketing">
            <span>Marketing</span>
        </li>
        <li class="navlist" routerLink="schedule">
            <img src="../assets/img/Schedule.png" alt="Schedule" title="Schedule">
            <span>Schedule</span>
        </li>
        <li class="navlist" routerLink="settings">
            <img src="../assets/img/Settings.png" alt="Settings" title="Settings">
            <span>Settings</span>
        </li>
    </ul>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>