<div class="custom-control custom-switch mt-3 d-flex flex-row">
    AutoSave
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label ml-5" for="customSwitches">
    </label>
    <div class="ml-auto mr-3">
        <button type="button" class="btn btn-primary mr-1">Publish</button>
        <button type="button" class="btn btn-light ">Preview</button>
    </div>
</div>

    <div class="dashboard">
    <ul *ngIf="showSidebar" class="sidebar">
        <li class="navlist" routerLink="layout">
            <!-- <img src="../assets/img/Webyout.png" alt="Webite Layout" title="Website Layout"> -->
            <svg class="icon icon-WebsiteLayout"><use xlink:href="assets/sprite.svg#icon-WebsiteLayout"></use></svg>
            <span>Website Layout</span>
        </li>
        <li class="navlist" routerLink="baseinfo">
            <!-- <img src="../assets/img/Basicinformation.png" alt="Basic Information" title="Basic Information"> -->
            <svg class="icon icon-BasicInformation"><use xlink:href="assets/sprite.svg#icon-BasicInformation"></use></svg>
            <span>Basic Information</span>
        </li>
        <li class="navlist" routerLink="images">
            <!-- <img src="../assets/img/Images.png" alt="Images" title="Images"> -->
            <svg class="icon icon-Images"><use xlink:href="assets/sprite.svg#icon-Images"></use></svg>
            <span>Images</span>
        </li>
        <li class="navlist" routerLink="projects">
            <!-- <img src="../assets/img/Projects.png" alt="Projects" title="Projects"> -->
            <svg class="icon icon-Projects"><use xlink:href="assets/sprite.svg#icon-Projects"></use></svg>
            <span>Projects</span>
        </li>
       
        <li class="navlist" routerLink="videos">
            <!-- <img src="../assets/img/Degree.png" alt="360 degree videos" title="360 degree videos"> -->
            <svg class="icon icon-360degreevideo"><use xlink:href="assets/sprite.svg#icon-360degreevideo"></use></svg>
            <span>360 degree videos</span>
        </li>
        <li class="navlist" routerLink="marketing">
            <!-- <img src="../assets/img/marketing.png" alt="Marketing" title="Marketing"> -->
            <svg class="icon icon-Marketing"><use xlink:href="assets/sprite.svg#icon-Marketing"></use></svg>
            <span>Marketing</span>
        </li>
        <li class="navlist" routerLink="schedule">
            <!-- <img src="../assets/img/Schedule.png" alt="Schedule" title="Schedule"> -->
            <svg class="icon icon-Schedule"><use xlink:href="assets/sprite.svg#icon-Schedule"></use></svg>
            <span>Schedule</span>
        </li>
        <li class="navlist" routerLink="settings">
            <!-- <img src="../assets/img/Settings.png" alt="Settings" title="Settings"> -->
            <svg class="icon icon-Settings"><use xlink:href="assets/sprite.svg#icon-Settings"></use></svg>
            <span>Settings</span>
        </li>
    </ul>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>