.grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
  }

  .grid-container > div.template-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    position: relative;

    .template-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: top center;
        transition: all 5s ease;
        cursor: pointer;
    }
    .template-img:hover {
      object-position: bottom center;
  }
    .template-title {
        position: absolute;
        bottom: -5px;
        width: 100%;
        padding: 10px;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.6);
    }
  }
