<!-- https://stackoverflow.com/questions/45663672/ngx-pagination-reset-pagination-to-first-page -->
<div class="container">
    <div class="card col-12 ">
        <div class="mt-5 card-body grid-container">
            <div (click)="chooseTemplate()" class="content-wrapper template-wrapper" *ngFor="let content of returnedArray">
                    <img class="content-item template-img" src="assets/img/test_screen.png" alt=" ">
                    <h1 class="content-item template-title">{{content}}</h1>
            </div>
        </div>
        <pagination class="mx-auto mt-4" previousText="&lsaquo;" nextText="&rsaquo;" [itemsPerPage]="6" [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>